@font-face {
  font-family: "iconfont";
  /* Project id 4147184 */
  src: url('iconfont.woff2?t=1688297523643') format('woff2'),
    url('iconfont.woff?t=1688297523643') format('woff'),
    url('iconfont.ttf?t=1688297523643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianjie:before {
  content: "\e601";
}

.icon-quxiao:before {
  content: "\e62b";
}

.icon-icon1:before {
  content: "\e693";
  background-image: linear-gradient(135deg, #F0FF00 10%, #58CFFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-sucai:before {
  content: "\e602";
  background-image: linear-gradient(135deg, #FFA8A8 10%, #FCFF00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-tupiantianjia:before {
  content: "\ec7d";
  background-image: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-duanshipinhuati:before {
  content: "\e876";
  background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-icon:before {
  content: "\e651";
}

.icon-tingge:before {
  content: "\e631";
}

.icon-fenxiang:before {
  content: "\e816";
}

.icon-mashangtiwen:before {
  content: "\e607";
}

.icon-31guanzhudianpu:before {
  content: "\e600";
}

.icon-weibiaoti--:before {
  content: "\e615";
}

.icon-pifu:before {
  content: "\e63c";
}

.icon-dongtai:before {
  content: "\e672";
}

.icon-chenggongyijiejue:before {
  content: "\e6d3";
  color: chartreuse;
}

.icon-danmu:before {
  content: "\e625";
}

.icon-jiazai:before {
  content: "\e671";
  color: crimson;
}

.icon-xiala:before {
  content: "\e624";
}

.icon-xiaoxi:before {
  content: "\e606";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-zhuangtailishi:before {
  content: "\e637";
}

.icon-shouye:before {
  content: "\e818";
}